/*styles for the home page*/
/*     
body {
	padding-top: 60px;
    padding-bottom: 40px;
}
*/

.sidebar{
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

#date{
	width: 50%;
}

.background {
	height: 660px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,48,255,1)), color-stop(25%,rgba(85,26,139,1)), color-stop(50%,rgba(85,26,139,1)), color-stop(100%,rgba(85,26,139,1)));
}

.logo{
	width:1170px;
	margin-left: auto;
	margin-right:auto;
	padding-top: 0px;
	color: #FFFFFF;
}

.head{
	background: #480058;
}

.foot{
	color: #FFFFFF;
}


/* chatroom styles */
	.chat{
		background: rgb(208, 239, 177);
		border-radius: 10px;
		
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;
		
		width: 350px;
		height: 350px;
		
	}
	
	#send{
			border-radius: 8px;
				box-shadow:   -1px 0px 14px 0px rgba(46, 50, 50, 0.75) inset;
			position: relative;
			width: 85px;
			height: 50px;
			margin: 4px;
			font-family: lucida sans, sans-serif;
			font-size: 1.5em;
			
			margin-top: auto;
			margin-left: auto;
			margin-right: auto;
	}
	#leave{
			border-radius: 8px;
				box-shadow:   -1px 0px 14px 0px rgba(46, 50, 50, 0.75) inset;
			position: relative;
			width: 85px;
			height: 50px;
			margin: 4px;
			font-family: lucida sans, sans-serif;
			font-size: 1.5em;
			
			margin-top: auto;
			margin-left: auto;
			margin-right: auto;
	}