/*styles for the home page*/
/*     
body {
	padding-top: 60px;
    padding-bottom: 40px;
}
*/

#content{
	width:inherit;
}

#alldata{
	padding-left: 0px;
	padding-right: 0px;
}

.sidebar{
    padding: 9px 0;
     margin-left: -20px;
    margin-top: -9px;
}

.main{
margin-left: -3px;
width: 695px;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

#date{
	width: 50%;
}

.background {
	height: 660px;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,48,255,1)), color-stop(25%,rgba(85,26,139,1)), color-stop(50%,rgba(85,26,139,1)), color-stop(100%,rgba(85,26,139,1)));*/
	background: white;
}

.odd{
	background: blue;
}
.logo{
	width:1170px;
	margin-left: auto;
	margin-right:auto;
	padding-top: 0px;
	color: #FFFFFF;
}

.game{
	;
}
.tdtext{
	display:inline;
	padding-left: 25px;
}

.head{
	background: #480058;
}

.foot{
	background: #480058;
	color: white;
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

/* chatroom styles */
	.chat{
		background: rgb(208, 239, 177);
		border-radius: 10px;
		
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;
		
		width: 350px;
		height: 350px;
		
	}
	
	#send{
			border-radius: 8px;
				box-shadow:   -1px 0px 14px 0px rgba(46, 50, 50, 0.75) inset;
			position: relative;
			width: 85px;
			height: 50px;
			margin: 4px;
			font-family: lucida sans, sans-serif;
			font-size: 1.5em;
			
			margin-top: auto;
			margin-left: auto;
			margin-right: auto;
	}

	#leave{
			border-radius: 8px;
				box-shadow:   -1px 0px 14px 0px rgba(46, 50, 50, 0.75) inset;
			position: relative;
			width: 85px;
			height: 50px;
			margin: 4px;
			font-family: lucida sans, sans-serif;
			font-size: 1.5em;
			
			margin-top: auto;
			margin-left: auto;
			margin-right: auto;
	}
	
	.messages{
		background: #B0E0E6;
		border:5px solid gray;
		border-radius: 10px;
		position: relative;
		width: 400px;
		height: 300px;
		margin-top: 10px;
		float: left;
	}

	.peopleingame{
		position: relative;
		width: 200px;
		height: 300px;
		margin-top: 10px;
		float: right;
	}
