
	.chat{
		background: rgb(208, 239, 177);
		border-radius: 10px;
		
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;
		
		width: 350px;
		height: 350px;
		
	}
	
	#send{
			border-radius: 8px;
				box-shadow:   -1px 0px 14px 0px rgba(46, 50, 50, 0.75) inset;
			position: relative;
			width: 85px;
			height: 50px;
			margin: 4px;
			font-family: lucida sans, sans-serif;
			font-size: 1.5em;
			
			margin-top: auto;
			margin-left: auto;
			margin-right: auto;
	}
	#leave{
			border-radius: 8px;
				box-shadow:   -1px 0px 14px 0px rgba(46, 50, 50, 0.75) inset;
			position: relative;
			width: 85px;
			height: 50px;
			margin: 4px;
			font-family: lucida sans, sans-serif;
			font-size: 1.5em;
			
			margin-top: auto;
			margin-left: auto;
			margin-right: auto;
	}
	
	